fpgo
*debug_bin*
# .vscode
.vscode/*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Protobuf gen
# *.pb.go

*.tar.gz

# mockgen
mock

# gqlgen
graph/generated

.DS_Store

.vscode